/* Error: There is no module with the namespace "variables".
 *   ,
 * 8 |             color: variables.$mainHeaderColor;
 *   |                    ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src\scss\_layout.scss 8:11  @use
 *   src\scss\main.scss 2:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "variables".\a   \2577 \a 8 \2502              color: variables.$mainHeaderColor;\d\a   \2502                     ^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src\\scss\\_layout.scss 8:11  @use\a   src\\scss\\main.scss 2:1      root stylesheet';
}
